
div.doan{
    text-align: center;
}
p.doan1 {
    text-align: center;
}

div.doan2 {
    text-align: left;
}

div.doan3 {
    text-align: center;
}

div.doan4 {
    text-align: right;
}
div.doancam{
    background-color: rgb(255, 191, 72);
}
table {  
    border: 5px solid rgb(251, 182, 78);
    border-collapse: collapse;

}
td{
    border: 1px solid rgb(251, 182, 78);
    border-collapse: collapse;
    color: black;
    text-align: center;
}

.left{
    height: 40px;
    width: 40px;
    align-content: center;
}
.center{
    height: 40px;
    width: 40px;
    vertical-align: top;
}
.right{
    height: 40px;
    width: 40px;
    float: right;
}
.bang2 { 
    border: 1px solid rgb(255, 157, 10);
    border-collapse: collapse;
}
