
div.doan{
    text-align: center;
}
p.doan1 {
    text-align: center;
}

div.doan2 {
    text-align: left;
}

div.doan3 {
    text-align: center;
}

div.doan4 {
    text-align: right;
}
div.doancam{
    background-color: rgb(255, 191, 72);
}
table {  
    border: 5px solid rgb(251, 182, 78);
    border-collapse: collapse;

}
th, td{
    border: 1px solid rgb(251, 182, 78);
    border-collapse: collapse;
}